/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sidenav {
    height: 100%;
    width: 15vw;
    /* position: fixed; */
    z-index: 1;
    top: 50px;
    bottom: 40px;
    left: 0;
    background-color: #FF7A5A;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
    margin-right: 200px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin: 0 auto 0 auto;
  float: right;
  width: 70vw;
    /* margin-left: 200px; Same as the width of the sidenav */
    /*font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px;
    display: 60%;
    float: right;
    display: flex;
    justify-content: center; */
    /* display: flex;
    float: right;*/
    
    /* position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    transform: translate(-50%, -50%); */
}

.table-holder{
float: right;
/* margin-right: 100px; */
/* width: 50vw; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%); */
}

#request-list th {
    width:50%;
    height:50%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a6a6a6;
    color: white;
}

.admin-page-info {
	display: flex;
}

.a {
	text-align: center;
	align-self: center;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* .table-holder{
	justify-content: center;
	margin-left:400px;
	display: 60%;
} */

#request-list td, #request-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#request-list tr:nth-child(even){
	background-color: #f2f2f2;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .page-bucket{}
}